<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1080, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {%block style%}{%endblock style%}
    <title>{%block title%}Главная страница{%endblock title%}</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a class="header__href" href="{% url 'contentLoader:index' %}">
                <img src="{%static 'images/bookLogo.svg' %}" alt="">
            </a>
        </div>

        <nav class="pages">
            <a class="header__href" href="{% url 'contentLoader:index' %}"><div class="main">Главная</div></a>
            <a class="header__href" href="{% url 'contentLoader:products' %}"><div class="goods">Книги</div></a>
            <a class="header__href" href="{% url 'contentLoader:category' %}"><div class="category">Категории</div></a>
            <a class="header__href" href="{% url 'contentLoader:contact' %}"><div class="category">Обратная форма</div></a>
            {%if request.user.is_authenticated %}
            <a class="header__href" href="{% url 'authorization:logout' %}"><div class="login">Выйти</div></a>
            {% else %}
            <a class="header__href" href="{% url 'authorization:login' %}"><div class="login">Войти</div></a>
            {%endif%}
        </nav>
    </header>
    <ul id="breadcrumbs-one">
    {%block breadcrumps%}
        <li><a href="/">Главная</a></li>
    {%endblock breadcrumps%}
    </ul>
    {%block content%}{%endblock content%}
<footer class="footer">
    <div class="footerContent">
        2020—2021 ©opyright all rights reserved. Перепечатка материалов сайта возможна только с указанием активной ссылки на сайт.
    </div>
</footer>
</body>
</html>