{%extends "base.html"%}
{%load static%}
{%block style%}<link rel="stylesheet" href="{% static 'css/category.css' %}">{%endblock style%}

{%block breadcrumps%}
 {{block.super}}
    <li><a href="{% url 'contentLoader:category' %}">Категории</a></li>
{%endblock breadcrumps%}

{%block content%}

{%for category in Categories%}
<div class="container">
    <a href="{% url 'contentLoader:getCategories' category.id %}">
        <div class="category__button">
            <span>
                {{category.category_name}}
            </span>
        </div>
    </a>
</div>
{%endfor%}

{%endblock content%}
